/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --page-font-family: Inter-Variable, monospace, sans-serif;
  --accent-font-family: PressStart2P, monospace, sans-serif;
  --page-font-weight: 465;
  --page-font-size: 18px;
  --accent-font-weight: 785;
  --background-color: #000000;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --background-image-gradient: repeating-linear-gradient(
      90deg,
      #000000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#000000 0px 2px, transparent 2px 4px),
    linear-gradient(#007f0c, #004306 100%);
  --rubber-block-width: clamp(21.875rem, 14.173rem + 36.972vw, 43.75rem);
  --like-icon-contour-color: #00cc14;
  --like-icon-main-body-color: #000000;
  --like-icon-core-color: #000000;
  --like-icon-sparks-color: #ff0000;
}
